<div class="container">
  <h1 class="header mt-3">Photos</h1>

  <div class="row my-4">
    <div class="col-md-4">
      <input class="form-control" type="text" placeholder="Search title..." [(ngModel)]="searchTerm">
    </div>
    <div class="col-md-4">
      <select class="form-select" [(ngModel)]="albumId" (change)='selectAlbum(albumId)'>
        <option value="">Album</option>
        <option [value]="album" *ngFor="let album of albums">Album {{ album }}</option>
      </select>
    </div>
  </div>


  <div class="photos">
    <div class="photos__box" *ngFor="let photo of filteredPhotos | paginate: { itemsPerPage: 10, currentPage: p }">
      <img [src]="photo.url" alt="photo">
      <p class="photos__box__title" [routerLink]="[photo.id]" [queryParams]="{search:searchTerm}">{{ photo.title |
        truncate:"20" }}</p>
    </div>
  </div>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>

<app-loader [loading]="loading"></app-loader>
