<h1 class="header text-center mt-3">Posts</h1>

<div class="container">
  <div class="row my-4">
    <div class="col-md-4">
      <input class="form-control" type="text" placeholder="Search title..." [(ngModel)]="searchTerm">
    </div>
    <div class="col-md-4">
      <select class="form-select" [(ngModel)]="userId" (change)='selectUser(userId)'>
        <option value="">User</option>
        <option [value]="user" *ngFor="let user of users">User {{ user }}</option>
      </select>
    </div>
  </div>


  <table class="table" *ngIf="posts">
    <thead>
      <tr>
        <th style="width:10%">ID</th>
        <th style="width:10%">User</th>
        <th style="width:60%">Title</th>
        <th style="width:20%">Content</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of filteredPosts">
        <th>{{ post.id }}</th>
        <td class="link" (click)="goToUser(post.userId)">User {{ post.userId }}</td>
        <td class="link" [routerLink]="[post.id]" [queryParams]="{search: searchTerm}">{{ post.title }}</td>
        <td>{{ post.body | truncate:"20" }}</td>
      </tr>
    </tbody>
  </table>


</div>


<app-loader [loading]="loading"></app-loader>
